h1 {
    font-family: papyrus;
    color: #789395;
    text-align: center
}
h2 {
    font-family: papyrus;
    color: darkcyan;
    text-align: center
}
p,ul,li {
    color: #354259;
    text-align: center
}

img {
    max-width: 10%;
    max-height: 10%;
    float: left;
    position: relative;
    margin: 10px 15px 15px 10px;
}
a {
    text-decoration: none;
}